 /*général*/
 body {
        font-family: 'Della Respira', serif;
        background-color: #F7E6CA;
        color: #561D0B;
    }
 
 /* Cookies */
 /* Couleurs personnalisées */
 .modal-header {
     background-color: #C66D25;
 }

 .modal-header h5 {
     color: white;
 }

 .text-cookie {
     color: #561D0B;
 }

 .modal-content {
     border: 2px solid #E7A564;
 }


/* Boutons */
  .btn-tres-clair {
     background-color: #F7E6CA;
     outline-color: #F7E6CA;
     color: #561D0B;
 }

 .btn-clair {
     background-color: #E7A564;
        outline-color: #E7A564;
        color: #561D0B;
 }

 .btn-moyen {
     background-color: #C66D25;
        outline-color: #C66D25;
        color: #F7E6CA;
 }

 .btn-foncé {
     background-color: #561D0B;
        outline-color: #561D0B;
        color: #F7E6CA;
 }

/* Dashboard Admin */
.box-info {
    color: rgb(0, 0, 0);
    background-color: #E7A564;
    font-size: 30px;
    padding-left: 3rem ;
    word-wrap: break-word"
}

